{{! Next and Previous links displayed within a post !}}

{{~#if let Some(prev) = blog.get_prev(&post) ~}}
        <!--googleoff: index-->
        <div class="previous">
            {{~#if post.prev_is_part ~}}
            <a href="/{{{ prev.path }}}">
                <h4>{{{ html.icon("chevron_left") }}} Part {{ prev.part }}</h4>
                {{ prev.sub_title }}
            </a>
            {{~else }}
            <a href="/{{{ prev.path }}}">
                <h4>{{{ html.icon("chevron_left") }}} Previous</h4>
                {{ prev.title }}
            </a>
            {{~/if }}
        </div>
        <!--googleon: index-->
{{~/if}}
{{~#if let Some(next) = blog.get_next(&post) ~}}
        <!--googleoff: index-->
        <div class="next">
            {{~#if post.next_is_part }}
            <a href="/{{{ next.path }}}">
                <h4>Part {{next.part}}{{{ html.icon("chevron_right") }}}</h4>
                {{ next.sub_title }}
            </a>
            {{~else}}
            <a href="/{{{ next.path }}}">
                <h4>Next {{{ html.icon("chevron_right") }}}</h4>
                {{ next.title }}
            </a>
            {{~/if }}
        </div>
        <!--googleon: index-->
{{/if }}