<!DOCTYPE html>
<html lang="en">
    {{~#> html_head title=category.name, description=config.site.description }}
    <meta name="robots" content="noindex">
    <script src="/js/category.js" type="text/javascript" defer></script>
    {{~/html_head ~}}
<body>
    {{#> header title=category.name, sub_title="" }}
        <aside class="site-description">{{ config.site.description }}</aside>
    {{~/header }}

    <div class="category content">
        <section class="posts">
        {{#each category.post_paths }}
            {{ let post = super::blog.get(&this).unwrap() }}
            {{ let photo = post.cover_photo().unwrap() }}
            <article class="summary">
                <header class="post">
                    <ul class="info">
                        {{~#if let Some(d) = post.happened_on }}
                        <li class="date-taken">{{ super::html.date(d) }}</li>
                        {{~/if }}
                        <li class="photo-count">{{ post.photo_count }} photos{{!#if video!}} and a video{{!/if!}}</li>
                    </ul>
                    <a class="title" href="/{{{ post.path }}}">{{ post.title }}
                    {{~#if !post.sub_title.is_empty() }}
                        <span class="subtitle">
                            <span class="part">Part {{ post.part }}:</span>{{ post.sub_title }}
                        </span>
                    {{~/if ~}}
                    </a>
                    <span class="mode-icon {{ super::html.travel_icon(post.categories.as_ref()) }}"></span>
                    <div class="clear"></div>
                </header>

                <a class="thumb" title="View story" href="/{{{ post.path }}}">
                    <img src="{{ photo.size.small.url }}" width="{{ photo.size.small.width }}"
                        height="{{ photo.size.small.height }}"
                        style="width: {{ photo.size.small.width }}px; height: {{ photo.size.small.height }}px;" /></a>

                <section class="detail">
                    <p class="summary">{{ post.summary }}</p>
                    <ul class="categories">
                        {{! TODO: this is the same as partials/categories.hbs !}}
                        {{~#each post.categories.as_slice() }}
                        <li><span>#</span><a href="/{{{ path }}}" rel="tag">{{ name }}</a></li>
                        {{~/each }}
                    </ul>
                </section>

                <div class="clear"></div>
            </article>
        {{/each }}
        </section>
    </div>
   {{> footer }}
</body>
</html>