{{{ ctx.icon("close") }}}

{{! same as partials/side_menu with the addition of icons !}}
<ul class="links">
   <li><a href="/" rel="home">Home {{{ ctx.icon("home") }}}</a></li>
   <li><a href="/about" rel="author">About {{{ ctx.icon("info") }}}</a></li>
   <li><a href="/photo-tag" rel="search">Photo Tags {{{ ctx.icon("collections") }}}</a></li>
   <li><a href="/ruminations">Ruminations {{{ ctx.icon("local_florist") }}}</a></li>
   <li>Categories {{{ ctx.icon("label") }}}</li>
</ul>

<div class="menu-categories">
   {{> category_selectors }}
</div>